<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Assignment 3</title>
 </head>
 <center><body>
  <!-- Content section 1-->
  <div><h1>Microservice Water and Wind</h1></div>
   <div style="background-color: blue; width: 200px;"> 
       <h2 >Water Status</h2>
       <h2>{{ .water }}</h2>
       <h3 >{{ .waterStatus }}</h3>
    </div>
  <!-- Content section 2-->
   <div style="background-color: green; width: 200px;">
       <h2 >Wind Status</h2>
       <h2>{{ .wind }}</h2>
       <h3 >{{ .windStatus }}</h3>
   </div>
  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Core theme JS-->
  <script type="text/javascript">
    window.setTimeout(function(){ document.location.reload(true); }, 15000);
  </script>
 </body>
</center>
</html>
